<div class="containet mt-4"></div>
	<footer style="background-color: #ffc0cb;">
	<div class="container text-right mt-3">
		<p style="color: gray">&copy;2019.DmmWebcamp.wakasugishiho</p>
	</div>
	</div>
</footer>