<h1>推しトレ！</h1>
<div class="content">
	<a class="js-modal-open" href="">推しトレとは</a>
</div>

<div class="modal js-modal">
	<div class="modal__bg js-modal-close"></div>
	<div class="modal__content">
		<p>推しトレとは？</p>
		<a class="js-modal-close" href="">閉じる</a>
	</div>
</div>

<%= link_to "新規登録", new_user_registration_path %>
<%= link_to "ログイン", new_user_session_path %>