<div class="background">
	<div class="container">
		<div class="row" style="padding-top: 55%;">
			<div class="col-md-6"></div>
			<div class="col-md-2">
				<div class="background-star">
					<h4><a class="js-modal-open text-dark" href="">推しトレとは</a></h4>
				</div>
			</div>
			<div class="col-md-2">
				<div class="background-star">
					<h4><%= link_to "新規登録", new_user_registration_path, class:"text-dark" %></h4>
				</div>
			</div>
			<div class="col-md-2">
				<div class="background-star">
					<h4><%= link_to "ログイン", new_user_session_path, class:"text-dark" %></h4>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="modal js-modal">
	<div class="modal__bg js-modal-close"></div>
	<div class="modal__content bg_2" style="border-radius: 10px;">
		<h3>推しトレとは？</h3>
		<p>推しをトレードして取れ！というコンセプトのコミュニティサイトです。</p>
		<p>迷子の推しを見つけたら、投稿者とチャットしてみましょう！</p>
		<p>チャットは他者からは見えず、取引終了後はトーク内容全て削除することができるので安心！</p>
		<p>ユーザーレビュー機能で優良ユーザーが一目瞭然！</p>
		<P>モラルやマナーを守って快適な推し事をお楽しみください！</P>
		<div class="modal__close">
			<a class="js-modal-close btn btn-light" href="">閉じる</a>
		</div>
	</div>
</div>