<div class="background">
	<div class="container">
		<div class="row" style="padding-top: 55%;">
			<div class="col-md-6"></div>
			<div class="col-md-2">
				<div class="background-star">
					<h4><a class="text-dark" data-toggle="modal" data-target="#aboutModal" href="">推しトレとは</a></h4>
				</div>
			</div>
			<div class="col-md-2">
				<div class="background-star">
					<h4><%= link_to "新規登録", new_user_registration_path, class:"text-dark", data: { "turbolinks" => false} %></h4>
				</div>
			</div>
			<div class="col-md-2">
				<div class="background-star">
					<h4><%= link_to "ログイン", new_user_session_path, class:"text-dark", data: { "turbolinks" => false} %></h4>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    	<div class="modal-content bg_2">
      		<div class="modal-header" style="background-color: #ffc0cb;">
        		<h5 class="modal-title mt-3 ml-2" id="exampleModalLabel">推しトレとは</h5>
      		</div>
      		<div class="modal-body">
      			<p>オタクの、オタクによる、オタクのためのグッズ交換サイトです！</p>
				<p>迷子の推しを見つけたら、投稿者とチャットしてみましょう！</p>
				<p>ハッシュタグ機能で推しを見つけやすい！</p>
				<P>推しトレはあなたの快適な推し事を応援しています！</P>
      		</div>
      		<div class="modal-footer" style="background-color: #ffc0cb;">
        		<button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
      		</div>
    	</div>
  	</div>
</div>