<h1>Chat Room</h1>
<form>
  <label>Say something:</label><br>
  <input type="text" data-behavior="room_speaker">
</form>

<div id="messages" data-room_id="<%= @room.id %>">
	<%= render @messages %>
</div>
